<h1></h1>
<div class="container">
    <div *ngIf="image">
        <div class="d-flex">
            <img [src]="image.urls.regular"/>
            <div>
                <h2>{{ image.description }} ({{year}})</h2>
                <h4>{{ image.user.name }}</h4>
                <h6>{{ image.created_at }}</h6>
                <div>
                    <button type="button" class="btn btn-danger">
                        Likes <span class="badge badge-light">{{ image.likes }}</span>
                    </button>
                    <button type="button" class="btn btn-info">
                        Downloads <span class="badge badge-light">{{ image.downloads }}</span>
                    </button>
                    <button class="btn btn-secondary"
                        (click)="!isFavorite ? addFavorite(image) : removeFavorite(image)">
                        <fa-icon [icon]="faPlus" *ngIf="!isFavorite"></fa-icon>
                        <fa-icon [icon]="faMinus" *ngIf="isFavorite"></fa-icon>
                        Favorite
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>